.numBtn {
  border: 1px solid black;
  padding: 0.8% 1%;
  width: 65px;
  background: #7a7a7a;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.numBtn:active {
  background: #a3a3a3;
}

/*.numBtn zero {
    width: 130px;
}*/
